@import url("https://use.typekit.net/ffp1rif.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'source-sans-pro', sans-serif;
  font-synthesis: weight;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  width: 0 !important
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 10px;
  margin-top: 60px;
  margin-bottom: 50px;
}

img {
  pointer-events: none;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  flex: 1;
  margin-top: 135px;
}
