#events-page {
    width: 100vw;
    padding: 60px;
    padding-block: 20px;
    overflow: hidden;
    margin-bottom: 40px;
}

#events-page h1 {
    font-size: 40px;
    font-weight: bold;
    line-break: auto;
}

.events-page-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    display: flex;
    min-width: 300px;
    flex-direction: column;
    border-radius: 8px;
    padding: 8px;
    max-width: 300px;
}

.card .card-image {
    width: 100%;
    height: auto;
    border-radius: 2px;
    margin-bottom: 10px;
}

.card .card-content {
    display: flex;
    flex-direction: column;
}

.card .card-description {
    font-size: 20px;
    margin-bottom: 2px;
}

.card .card-date {
    font-size: 14px;
    color: #000000;
}