.Image {
    display: flex;
    min-width: 144px;
    min-height: 144px;
    flex-direction: column;
    padding: 8px;
    border: solid black 2px;
    overflow-wrap: break-word;
}

.Image .Image-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    overflow-wrap: break-word;
}